<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Cache-control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Cupcakes</title>
</head>

<body>
    <div class="container">

        <h1>Cupcakes</h1>
        <div>
            <div>
                <ul id="cupcake-list">
                    {% for cupcake in cupcakes %}
                    <li>{{cupcake.title}}
                        <br>
                        {{cupcake.flavor}}
                        {{cupcake.size}}
                        <br>
                        Rating: {{cupcake.rating}}
                        <br>
                        <img src="{{cupcake.image}}">
                        <button class="delete-cupcake" data-id="{{cupcake.id}}">X</button>
                        <br>
                    </li>
                    <br>
                    {% endfor %}
                </ul>
                <h2>Add new cupcake</h2>
                <form id="form" onsubmit="addCupcake(event)">
                    <label for="flavor">Flavor:</label>
                    <input type="text" id="flavor" name="flavor" required>
                    <br>
                    <br>
                    <label for="size">Size:</label>
                    <input type="text" id="size" name="size" required>
                    <br>
                    <br>
                    <label for="rating">Rating (1-10):</label>
                    <input type="number" id="rating" name="rating" step="0.1" min="0" max="10" required>
                    <br>
                    <br>
                    <label for="image">Image URL:</label>
                    <input type="url" id="image" name="image">
                    <br>
                    <br>
                    <button id="add-btn">Add</button>
                </form>
            </div>
        </div>

    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"
        integrity="sha256-T/f7Sju1ZfNNfBh7skWn0idlCBcI3RwdLSS4/I7NQKQ=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="static/cupcake.js"></script>
</body>

</html>